body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.en {
	font: 13px Arial, sans-serif;
}


p {
	line-height:   1.2em;
	margin-bottom: 18px;
	font:          13px Arial, sans-serif;
}

@font-face {
  font-family: 'aurebeshregular';
  src: url('./fonts/aurebesh-webfont.woff2') format('woff2'),
        url('./fonts/aurebesh-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.au {
  font-family: aurebeshregular;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

:focus {
outline: 0;
}

ins {
text-decoration: none;
}

del {
text-decoration: line-through;
}

table {
border-collapse: collapse;
border-spacing:  0;
}


body {
color:            #000;
background-color: #dcdcdc;
}

a {
text-decoration: none;
color:           #1883ba;
}

h1 {
font-size:     32px;
font-weight:   normal;
font-style:    normal;
margin-bottom: 18px;
}

h2 {
font-size: 18px;
}

#container {
width:  865px;
margin: 0px auto;
}


#header {
padding:          20px;
font-size:        36px;
background-color: #000;
color:            #fff;
}

#header span {
color: #666;
}

#main_content {
background-color: #fff;
padding:          60px 20px 20px;
}


#footer p {
margin:         0;
padding-top:    10px;
padding-bottom: 50px;
color:          #333;
font:           10px Arial, sans-serif;
}

.tabs {
width:            100%;
height:           31px;
background-color: #444;
}

.tabs li {
float:            left;
margin:           0;
overflow:         hidden;
background-color: #444;
}

.tabs li a {
display:         block;
color:           #fff;
text-decoration: none;
font:            bold 11px/11px 'Arial';
text-transform:  uppercase;
padding:         10px 15px;
border-right:    1px solid #fff;
}

.tabs li a:hover {
background-color: #00b3ff;

}

.tabs li.active a {
color:            #000;
background-color: #fff;
}


div.huge {

font-size:      300px;
line-height:    1em;
padding:        0;
letter-spacing: -.02em;
overflow:       hidden;
}

div.glyph_range {
font-size:   72px;
line-height: 1.1em;
}

.size10 {
font-size: 10px;
}

.size11 {
font-size: 11px;
}

.size12 {
font-size: 12px;
}

.size13 {
font-size: 13px;
}

.size14 {
font-size: 14px;
}

.size16 {
font-size: 16px;
}

.size18 {
font-size: 18px;
}

.size20 {
font-size: 20px;
}

.size24 {
font-size: 24px;
}

.size30 {
font-size: 30px;
}

.size36 {
font-size: 36px;
}

.size48 {
font-size: 48px;
}

.size60 {
font-size: 60px;
}

.size72 {
font-size: 72px;
}

.size90 {
font-size: 90px;
}


/* CSS HEX *
--space-cadet: #2b2d42ff;
--cool-gray: #8d99aeff;
--antiflash-white: #edf2f4ff;
--red-pantone: #ef233cff;

/* CSS HSL *
--space-cadet: hsla(235, 21%, 21%, 1);
--cool-gray: hsla(218, 17%, 62%, 1);
--antiflash-white: hsla(197, 24%, 94%, 1);
--red-pantone: hsla(353, 86%, 54%, 1);

/* SCSS HEX *
$space-cadet: #2b2d42ff;
$cool-gray: #8d99aeff;
$antiflash-white: #edf2f4ff;
$red-pantone: #ef233cff;

/* SCSS HSL *
$space-cadet: hsla(235, 21%, 21%, 1);
$cool-gray: hsla(218, 17%, 62%, 1);
$antiflash-white: hsla(197, 24%, 94%, 1);
$red-pantone: hsla(353, 86%, 54%, 1);

/* SCSS RGB *
$space-cadet: rgba(43, 45, 66, 1);
$cool-gray: rgba(141, 153, 174, 1);
$antiflash-white: rgba(237, 242, 244, 1);
$red-pantone: rgba(239, 35, 60, 1);

/* SCSS Gradient *
$gradient-top: linear-gradient(0deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-right: linear-gradient(90deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-bottom: linear-gradient(180deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-left: linear-gradient(270deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-top-right: linear-gradient(45deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-bottom-right: linear-gradient(135deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-top-left: linear-gradient(225deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-bottom-left: linear-gradient(315deg, #2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
$gradient-radial: radial-gradient(#2b2d42ff, #8d99aeff, #edf2f4ff, #ef233cff);
*/